html,
body {
    height: 100%;
    width: 100%;
}

.outroCSS {
    width: 100%;
    height: 800px;
    background: #053;
}
.carousel-inner > .item > img{
    width: 100%;
    height: 600px;
}

#myCarousel {
    width: 100%;
    height: 600px;
    margin: 0;
    border: 0;
    padding: 0;
}

.fill {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
